# Домашнее задание к лекции "Базовые понятия статистики"

## Обязательная часть

Будем осуществлять работу с непростым [набором данных](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv) о состоянии здоровья лошадей, испытывающих кишечные колики. 

### Задание 1. Базовое изучение

Изучить представленный набор данных на основе [описания его столбцов](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.names) и выбрать 8 столбцов для дальнейшего изучения (среди них должны быть как числовые, так и категориальные). Провести расчет базовых метрик для них, кратко описать результаты.

### Задание 2. Работа с выбросами

В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты. Принять и обосновать решение о дальнейшей работе с ними.

### Задание 3. Работа с пропусками

Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе работы с пропусками по каждому столбцу, сформировать датафрейм, в котором пропуски будут отсутствовать.

In [1]:
import pandas as pd
import numpy as np

In [81]:
# Были взяты для анализа следующие столбцы с данными


#   1:  surgery?
#           1 = Yes, it had surgery
#           2 = It was treated without surgery

#   2:  Age
#           1 = Adult horse
#           2 = Young (< 6 months)

#   3:  Hospital Number
#           - numeric id
#           - the case number assigned to the horse
#             (may not be unique if the horse is treated > 1 time)
            
#   5:  pulse
#           - linear
#           - the heart rate in beats per minute
#           - is a reflection of the heart condition: 30 -40 is normal for adults
#           - rare to have a lower than normal rate although athletic horses
#             may have a rate of 20-25
#           - animals with painful lesions or suffering from circulatory shock
#             may have an elevated heart rate
            
#   7:  temperature of extremities
#           - a subjective indication of peripheral circulation
#           - possible values:
#                1 = Normal
#                2 = Warm
#                3 = Cool
#                4 = Cold
#           - cool to cold extremities indicate possible shock
#           - hot extremities should correlate with an elevated rectal temp.

#  13: abdominal distension
#           - An IMPORTANT parameter.
#           - possible values
#                1 = none
#                2 = slight
#                3 = moderate
#                4 = severe
#           - an animal with abdominal distension is likely to be painful and
#             have reduced gut motility.
#           - a horse with severe abdominal distension is likely to require
#             surgery just tio relieve the pressure

#  18: abdomen
#           - possible values
#                1 = normal
#                2 = other
#                3 = firm feces in the large intestine
#                4 = distended small intestine
#                5 = distended large intestine
#           - 3 is probably an obstruction caused by a mechanical impaction
#             and is normally treated medically
#           - 4 and 5 indicate a surgical lesion

#  23: outcome
#           - what eventually happened to the horse?
#           - possible values:
#                1 = lived
#                2 = died
#                3 = was euthanized

In [36]:
path ='/Users/a.gavrilik/Desktop/Data Analytics/PYDA-14_DZ/17-bazovye_ponyatiya_statistiki/практика_и_дз/'

# Читаем файл horse_data.csv в переменную data. Сразу казываем названия столбцов и заменяем пропуски (значения "?") на NaN
data = pd.read_csv(path + 'horse_data.csv', 
                    names = ['surgery', 'age', 'hospital_num', '4', 'pulse', '6', 'temp_of_extremities', '8', '9',
                             '10', '11', '12', 'abdominal_distension', '14', '15', '16', '17', 
                             'abdomen', '19', '20', '21', '22', 'outcome', '24', '25', '26', '27', '28'], na_values = '?')

horse = data[['surgery', 'age', 'hospital_num','pulse','temp_of_extremities', 
             'abdominal_distension', 'abdomen', 'outcome']]

horse.head(50)

,surgery,age,hospital_num,pulse,temp_of_extremities,abdominal_distension,abdomen,outcome
0,2.0,1,530101,66.0,3.0,4.0,5.0,2.0
1,1.0,1,534817,88.0,NaN,2.0,2.0,3.0
2,2.0,1,530334,40.0,1.0,1.0,1.0,1.0
3,1.0,9,5290409,164.0,4.0,4.0,NaN,2.0
4,2.0,1,530255,104.0,NaN,NaN,NaN,2.0
5,2.0,1,528355,NaN,2.0,2.0,3.0,1.0
6,1.0,1,526802,48.0,1.0,3.0,5.0,1.0
7,1.0,1,529607,60.0,3.0,2.0,4.0,2.0
8,2.0,1,530051,80.0,3.0,4.0,5.0,3.0
9,2.0,9,5299629,90.0,1.0,1.0,NaN,1.0
10,1.0,1,528548,66.0,3.0,1.0,5.0,1.0
11,2.0,1,527927,72.0,2.0,2.0,4.0,1.0
12,1.0,1,528031,42.0,2.0,3.0,5.0,1.0
13,2.0,9,5291329,92.0,1.0,2.0,1.0,2.0
14,1.0,1,534917,76.0,3.0,1.0,4.0,1.0
15,1.0,1,530233,96.0,3.0,3.0,NaN,2.0
16,1.0,9,5301219,128.0,3.0,3.0,5.0,2.0
17,2.0,1,526639,48.0,NaN,NaN,NaN,1.0
18,1.0,1,5290481,64.0,1.0,1.0,5.0,1.0
19,2.0,1,532110,110.0,4.0,3.0,NaN,1.0
20,1.0,1,530157,72.0,1.0,4.0,4.0,1.0
21,2.0,1,529340,48.0,1.0,1.0,3.0,1.0
22,1.0,1,521681,42.0,2.0,1.0,NaN,1.0
23,1.0,9,534998,130.0,NaN,NaN,NaN,1.0
24,1.0,1,533692,60.0,3.0,3.0,NaN,1.0
25,2.0,1,529518,60.0,NaN,NaN,NaN,1.0
26,1.0,1,530526,72.0,4.0,3.0,5.0,1.0
27,1.0,1,528653,48.0,3.0,2.0,3.0,1.0
28,1.0,1,5279442,NaN,NaN,NaN,NaN,2.0
29,2.0,1,535415,48.0,2.0,1.0,NaN,1.0
30,2.0,1,529475,96.0,3.0,4.0,5.0,2.0
31,2.0,1,530242,108.0,3.0,2.0,3.0,3.0
32,1.0,1,529427,60.0,2.0,3.0,5.0,1.0
33,1.0,1,529663,64.0,1.0,NaN,4.0,1.0
34,1.0,1,529796,100.0,3.0,4.0,4.0,1.0
35,2.0,1,528812,104.0,4.0,3.0,2.0,3.0
36,2.0,1,529493,112.0,NaN,1.0,5.0,3.0
37,1.0,1,533847,72.0,NaN,1.0,1.0,1.0
38,2.0,1,528996,52.0,1.0,2.0,3.0,1.0
39,1.0,9,5277409,146.0,NaN,NaN,NaN,2.0
40,1.0,1,529498,88.0,3.0,3.0,5.0,2.0
41,2.0,9,5288249,150.0,NaN,NaN,NaN,1.0
42,2.0,1,530301,60.0,3.0,1.0,2.0,1.0
43,1.0,1,534069,120.0,3.0,4.0,5.0,3.0
44,1.0,1,535407,140.0,3.0,NaN,5.0,3.0
45,2.0,1,529827,120.0,4.0,4.0,5.0,2.0
46,1.0,1,529888,60.0,3.0,4.0,5.0,1.0
47,2.0,1,529821,48.0,1.0,1.0,NaN,1.0
48,1.0,1,528890,80.0,3.0,3.0,1.0,2.0
49,2.0,1,529642,84.0,3.0,2.0,1.0,2.0

In [37]:
# Задание 1.

# Пояснение. 
# Анализировал те базовые метрики, которые, на мой взгляд, имеет смысл анализировать. Например, нет смысла считать 
# максимум-минимум-размах для номера клиники, хоть он и числовой.

In [38]:
# Возраст
print(f'Мода: {horse.age.mode()[0]}')
horse.age.value_counts()

# Вывод: В столбце возраста чаще всего встречается цифра 1, что соответсвует Age = Adult horse. 
# Т.е. чаще всего обследовнию и лечению от кишечных инфекций подвергалиcm именно взрослые лошади. Скорее всего молодые лошади впринципе
# более крепкие и менее подвержены заболеваниям. Возможно это связано с тем, что о молодых лошадях лучше заботятся, 
# поскольку они чаще используются в работе, на выставках и т.д.

Мода: 1

1    276
9     24
Name: age, dtype: int64

In [39]:
# Операции
print(f'Мода: {horse.surgery.mode()[0]}')
horse.surgery.value_counts()

# Вывод: Чаще всего лошадь приходилось оперировать. Хотя многие обходились и без операции. Поскольку нет перевеса на несколько порядков
# в одну из сторон, предположил бы, что колики - это такая проблема, 
# которую нужно вовремя распознать по поведению животного и вовремя принять меры. Если успеть - можно обойтись без операции.
# Если не успеть или не заметить, то, видимо, колики перерастают во что-то более серьезное и приходится оперировать. 
# Если так, то большинство владельцев не успевает или не замечает (не опытные, не внимательные).

Мода: 1.0

1.0    180
2.0    119
Name: surgery, dtype: int64

In [40]:
# Номер госпиталя
print(f'Мода: {horse.hospital_num.mode()[0]}')
len(horse.hospital_num.unique())

# Вывод: Существенного перевеса в сторону госпиталя с каким-то определенным номером нет.
# Почти одинаковое количество раз обращались во все госпитали. Причем самих госпиталей много (уникальных номеров 284).

# Возможно, это связано с тем, что существует какое-то центральное отделение, 
# которое равномерно распределяет лошадей с заболеваниями
# по госпиталям так, чтоб не создавать нагрузку в каком-то конкретном госпитале. Например, если существует хорошая ветеринарная клиника
# с развитой сетью точек госпитализации в регионе, где очень много лошадей.

# Если же статистика дана по госпиталям в рамках большой географической зоны (страна, регион, несколько стран), 
# то на основании имеющихся данных можно предположить, что в каждый госпиталь не часто обращаются с лошадьми, 
# которые страдают от кишечных коликов. Если в этой географической зоне много лошадей, 
# то это может быть признаком хорошего ухода за животными.
# Либо признаком того, что лошади не часто едят что попало (чистоплотные животные, избирательные в пище, посторонние и 
# не знающие люди их не кормят и т.д.)

# Отсутствие перевеса в сторону одного госпиталая может говорить о том, что все госпитали более-менее равнозначны.
# Если б был перевес в сторону госпиталя с каким-то определенным номером, то
# можно было бы предположить, что в него часто обращаются, поскольку он считается лучшим. 
# Либо лечение в данном госпитале наиболее оптимально по стоимости. Либо именно этот госпиталь специализируется на лошадях или
# на кишечных инфекциях. Либо в регионе, где этот госпиталь находится, многие занимаются лошадьми.

Мода: 527544

284

In [41]:
# Пульс
print(f'Максимальный: {max(horse.pulse)}')
print(f'Минимальный: {min(horse.pulse)}')
print(f'Размах: {max(horse.pulse) - min(horse.pulse)}')
print(f'Ср.арифм.: {horse.pulse.mean()}')
print(f'Мода: {horse.pulse.mode()[0]}')
print(f'Медиана: {horse.pulse.median()}')
print(f'СКО: {horse.pulse.std()}')
print(f'Межквартильный размах: {horse.pulse.quantile(0.75) - horse.pulse.quantile(0.25)}')

#Вывод: Пульс довольно изменчив (СКО = 28.6), значения сильно размазаны относительно среднего. 
# Довольно большой размах. Мода выше стандартного номального показателя (30-40) пульса для взрослой лошади. 
# Также, как и медиана. Т.е. вцелом пульс у лошадей, которые попали в анализ завышенный. 
# Поскольку рассматриваются животные с кишечными коликами, большинству из которых была сделана операция,
# можно предположить, что увеличение пульса коррелирует с налилием и развитием заболеваний желудка. 
# Получается желудочные колики создают повышенную нагрузку на сердце. Хотя, это, вроде бы очевидно - 
# при постоянном плохом самочувствии нагрузка на сердце увеличивается и пульс должен подниматься. 
# Если пульс упал - это скорее признак, что все совсем плохо.

Максимальный: 184.0
Минимальный: 30.0
Размах: 154.0
Ср.арифм.: 71.91304347826087
Мода: 48.0
Медиана: 64.0
СКО: 28.630556660735003
Межквартильный размах: 40.0

In [42]:
# Температура конечностей

print(f'Мода: {horse.temp_of_extremities.mode()[0]}')
print(f'Медиана: {horse.temp_of_extremities.median()}')
horse.temp_of_extremities.value_counts()

# Вывод: у многих живоьных сильно повышеная температура конечностей (значение 3), что является признаком повышенной 
# ректальной температуры. А повышенная ректальная температура, вероятно, признак заболевания. Имею ввиду, что проблема 
# со здоровьем у животного не только что проявилая. А, раз поднялась высокая температура, заболевание уже подзатянулось.
# На раннем этапе болезни владельцы этих лошадей либо не заметили проблему. Либо заметили изменение в поведении 
# животного, но не придали этому значения. Либо решили, что сами справятся или само пройдет.


# У большинства лошадей не наблюдалось холодных конечностей, что являлось бы признаком шока (скорее всего болевого шока,
# поскольку при коликах животному может быть больно). Т.е. у большинство животных болевого шока не было.

Мода: 3.0
Медиана: 3.0

3.0    109
1.0     78
2.0     30
4.0     27
Name: temp_of_extremities, dtype: int64

In [43]:
# Растяжение брюшной полости

print(f'Мода: {horse.abdominal_distension.mode()[0]}')
print(f'Медиана: {horse.abdominal_distension.median()}')
horse.abdominal_distension.value_counts()

# Вывод: у большинства животных растяжение брюшной полости не наблюдается либо оно умеренно-слабое. 
# Т.е. не тяжелая форма, при которой требуется операция. Во-первых, раз есть такая метрика, то можно предположить, 
# что одна из причин появления колик - это растяжение брюшной полости и малая подвижность кишечника (так и в пояснении написано).
# При этом лошадей часто оперируют, но вероятно не из-за колик, которые появились по причине растяжения брюшной полости.
# Причина появления колик в чем-то другом - например, питание.

Мода: 1.0
Медиана: 2.0

1.0    76
3.0    65
2.0    65
4.0    38
Name: abdominal_distension, dtype: int64

In [44]:
# Брюшная полость

print(f'Мода: {horse.abdomen.mode()[0]}')
print(f'Медиана: {horse.abdomen.median()}')
horse.abdomen.value_counts()

# Вывод: довольно часто встречаются значения 4 и 5. Что свидельствует о растянутом толстом и тонком кишечнике - чаще толстом (5).
# В пояснениях указано, что это результат хирургического поражения. Насколько понимаю, имеется ввиду перенесенная ранее операция.
# Могу предположить, что у многих лошадей ранее были проблемы, которые решались хирургическим путем. 
# Возможно, это хирургическое вмешательство было не достаточно качественным и проффесиональным 
# Как вариант, владельцы животных решали проблему "сами и своими силами". Т.е. текущие проблемы (кишечные колики) могут быть 
# связаны с перенесенными ранее заболеваниями и не правильным лечененим.

Мода: 5.0
Медиана: 4.0

5.0    79
4.0    43
1.0    28
2.0    19
3.0    13
Name: abdomen, dtype: int64

In [45]:
# Итоги

print(f'Мода: {horse.outcome.mode()[0]}')
print(f'Медиана: {horse.outcome.median()}')
horse.outcome.value_counts()

# Вывод: большинство лошадей остались живы. Значит колики не то заболевание, которое часто приводит к тому, что животное погибает.
# Также это признак того, что чаще владельцы все таки успевают обратиться к ветеринару.

Мода: 1.0
Медиана: 1.0

1.0    178
2.0     77
3.0     44
Name: outcome, dtype: int64

In [46]:
# Задание 2 - Выбросы

q1 = horse.pulse.quantile(0.25)
q3 = horse.pulse.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = horse[horse.pulse.between(lower_bound, upper_bound, inclusive=True)].sort_values('pulse')

pd.concat([horse, remove_outliers]).drop_duplicates(keep=False).sort_values('pulse')

# Вывод: 
# 1) значения 150, 160, 164, 184 являются слишком высокими и потенциально могут считаться выбрасами. 
# На мой взгляд данные выбросы стоит оставить, поскольку данные значения действительно могли быть зафиксированы, 
# т.е. это могут реальные данные, не ошибки. Нормальный пульс лошади в состоянии покоя 25-44. При работе в районе 70.
# При интенсивной нагрузке (когда лошади что-то угрожает или во время соревнований, т.е. когда нужно бежать из зо всех сил) 
# пульс у лошадей может подниматься до 220-225.

# При этом в таблице приведены данные лошай с заболеванием. 
# Данное заболевание может быть очень болезненным - лошади очень больно, она испугана и пульс растет.
# Так же в клинике животному тоже может быть страшно и пульс тоже растет.
# Т.е. выбросы могут быть реальными значениями (не ошибки) при определенных обстоятельствах.

# 2) Есть еще выбросы по возрасту. В столбец возраст записывается 1 или 2. Но в некоторых строках возраст равен 9.
# Это явно ошибка. Возможно возраст лошади 9 лет или 9 месяцев, скорее 9 лет (лошади живут по 25-30 лет).
# В любом случае - это по классификации в таблице взрослое животное. Поэтому предлагаю 9 заменить на 1 (1 - это взрослые),
# чтоб не терять данные.

,surgery,age,hospital_num,pulse,temp_of_extremities,abdominal_distension,abdomen,outcome
41,2.0,9,5288249,150.0,NaN,NaN,NaN,1.0
275,1.0,9,5297159,150.0,1.0,2.0,NaN,2.0
55,1.0,9,5282839,160.0,3.0,4.0,NaN,2.0
3,1.0,9,5290409,164.0,4.0,4.0,NaN,2.0
255,1.0,9,5294539,184.0,1.0,3.0,NaN,2.0
5,2.0,1,528355,NaN,2.0,2.0,3.0,1.0
28,1.0,1,5279442,NaN,NaN,NaN,NaN,2.0
52,2.0,1,529483,NaN,1.0,1.0,2.0,1.0
56,1.0,1,528872,NaN,NaN,NaN,NaN,1.0
58,1.0,1,528298,NaN,4.0,3.0,4.0,2.0
74,1.0,9,5292929,NaN,NaN,NaN,NaN,2.0
93,2.0,1,530310,NaN,3.0,3.0,5.0,2.0
115,2.0,1,533723,NaN,3.0,2.0,NaN,1.0
117,2.0,1,5290482,NaN,3.0,3.0,5.0,3.0
126,1.0,1,530384,NaN,3.0,2.0,NaN,1.0
151,1.0,1,529399,NaN,4.0,2.0,4.0,2.0
159,2.0,1,528134,NaN,1.0,2.0,3.0,1.0
160,1.0,1,527916,NaN,NaN,NaN,5.0,1.0
174,2.0,1,518476,NaN,3.0,4.0,NaN,2.0
175,1.0,1,527929,NaN,NaN,NaN,NaN,1.0
204,1.0,1,529528,NaN,3.0,2.0,NaN,1.0
207,1.0,1,530297,NaN,NaN,NaN,NaN,2.0
216,2.0,1,528977,NaN,NaN,NaN,NaN,1.0
227,1.0,9,5289419,NaN,NaN,NaN,NaN,1.0
288,1.0,1,529428,NaN,NaN,NaN,NaN,1.0

In [48]:
# Меняем возраст 9 на 1
horse.age.replace(9, 1, inplace=True)

In [49]:
# Задание 3 - Пропуски

horse.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   surgery               299 non-null    float64
 1   age                   300 non-null    int64
 2   hospital_num          300 non-null    int64
 3   pulse                 276 non-null    float64
 4   temp_of_extremities   244 non-null    float64
 5   abdominal_distension  244 non-null    float64
 6   abdomen               182 non-null    float64
 7   outcome               299 non-null    float64
dtypes: float64(6), int64(2)
memory usage: 18.9 KB

In [50]:
# Расчет количества пропусков по столбцам
for col in horse.columns:
    pct_missing = horse[col].isnull().mean()
    print(f'{col} - {pct_missing :.1%}')

surgery - 0.3%
age - 0.0%
hospital_num - 0.0%
pulse - 8.0%
temp_of_extremities - 18.7%
abdominal_distension - 18.7%
abdomen - 39.3%
outcome - 0.3%

In [ ]:
Пропуски по темп конечностей можно удалить - они в основном показывают норму и не знаю зачем они нужны. Или заполнить модой (нормой)

Пульс заполнить медианой, поскольку пропусков по пульсу не много, но они значимые (высокие)

surgery и outcome  - заполнить модой, поскольку пропусков мало

temp_of_extremities abdominal_distension abdomen - для заполнения пропусков можно ориентироваться на возраст 
(у взрослых лошадей больше проблем)

In [72]:
# Операция. Показатель категорийный. Можно заполнить значением моды, т.е. значением 1. 
# Значительно на расчет основных метрик это не повлияет.
horse[horse['surgery'].isna()]

,surgery,age,hospital_num,pulse,temp_of_extremities,abdominal_distension,abdomen,outcome
132,NaN,1,534572,48.0,3.0,1.0,5.0,NaN

In [76]:
horse.surgery.fillna(horse.surgery.mode()[0], inplace=True)

In [53]:
# По возрасту пропусков нет. Были выбросы, т.е. значения 9 (скорее всего ошибки). Заменил на значение 1.
horse[horse['age'].isna()]

Empty DataFrame
Columns: [surgery, age, hospital_num, pulse, temp_of_extremities, abdominal_distension, abdomen, outcome]
Index: []

In [54]:
# По номеру госпиталя пропусков нет
horse[horse['hospital_num'].isna()]

Empty DataFrame
Columns: [surgery, age, hospital_num, pulse, temp_of_extremities, abdominal_distension, abdomen, outcome]
Index: []

In [55]:
# По значению пульса пропуски есть. Предполагаю, что пульс зависит от тяжести состояния лошади. Тяжесть состояния определяет
# потребуется ли операция. Поэтому предложил бы заполнить медианой в зависимости от того потребовалась ли операция.
# Медианой, поскольку показатель пульса числовой. Также есть выбросы по пульсу и они значимые (высокие).
# Поэтому, чтоб не исказить статистику предлагаю заполнить медианой с группировкой по столбцу surgery.

horse[horse['pulse'].isna()]

,surgery,age,hospital_num,pulse,temp_of_extremities,abdominal_distension,abdomen,outcome
5,2.0,1,528355,NaN,2.0,2.0,3.0,1.0
28,1.0,1,5279442,NaN,NaN,NaN,NaN,2.0
52,2.0,1,529483,NaN,1.0,1.0,2.0,1.0
56,1.0,1,528872,NaN,NaN,NaN,NaN,1.0
58,1.0,1,528298,NaN,4.0,3.0,4.0,2.0
74,1.0,1,5292929,NaN,NaN,NaN,NaN,2.0
78,1.0,1,530693,NaN,3.0,3.0,5.0,2.0
83,1.0,1,5279822,NaN,3.0,4.0,NaN,2.0
93,2.0,1,530310,NaN,3.0,3.0,5.0,2.0
115,2.0,1,533723,NaN,3.0,2.0,NaN,1.0
117,2.0,1,5290482,NaN,3.0,3.0,5.0,3.0
126,1.0,1,530384,NaN,3.0,2.0,NaN,1.0
136,1.0,1,530693,NaN,3.0,3.0,5.0,2.0
151,1.0,1,529399,NaN,4.0,2.0,4.0,2.0
159,2.0,1,528134,NaN,1.0,2.0,3.0,1.0
160,1.0,1,527916,NaN,NaN,NaN,5.0,1.0
174,2.0,1,518476,NaN,3.0,4.0,NaN,2.0
175,1.0,1,527929,NaN,NaN,NaN,NaN,1.0
182,1.0,1,5279822,NaN,3.0,4.0,NaN,2.0
204,1.0,1,529528,NaN,3.0,2.0,NaN,1.0
207,1.0,1,530297,NaN,NaN,NaN,NaN,2.0
216,2.0,1,528977,NaN,NaN,NaN,NaN,1.0
227,1.0,1,5289419,NaN,NaN,NaN,NaN,1.0
288,1.0,1,529428,NaN,NaN,NaN,NaN,1.0

In [57]:
horse.pulse.fillna(horse.pulse.median(), inplace=True)

In [58]:
# Пропуски по температуре конечностей (категорийный показатель) можно заполнить модой. Но это по причине того, что я в анализ не взял
# показатели по ректальной температуре. Если бы они были, то скорее всего предложил бы удалить столбец с температурой конечностей.
# Поскольку холодные конечности встречаются редко. А горячие конечности коррелируют с повышенной ректальной температурой 
# (так в пояснении указано, да и у человеко обычно похожее влияние повышенной температуры на температуру конечностей)

horse[horse['temp_of_extremities'].isna()]

,surgery,age,hospital_num,pulse,temp_of_extremities,abdominal_distension,abdomen,outcome
1,1.0,1,534817,88.0,NaN,2.0,2.0,3.0
4,2.0,1,530255,104.0,NaN,NaN,NaN,2.0
17,2.0,1,526639,48.0,NaN,NaN,NaN,1.0
23,1.0,1,534998,130.0,NaN,NaN,NaN,1.0
25,2.0,1,529518,60.0,NaN,NaN,NaN,1.0
28,1.0,1,5279442,64.0,NaN,NaN,NaN,2.0
36,2.0,1,529493,112.0,NaN,1.0,5.0,3.0
37,1.0,1,533847,72.0,NaN,1.0,1.0,1.0
39,1.0,1,5277409,146.0,NaN,NaN,NaN,2.0
41,2.0,1,5288249,150.0,NaN,NaN,NaN,1.0
53,2.0,1,530544,40.0,NaN,NaN,NaN,1.0
56,1.0,1,528872,64.0,NaN,NaN,NaN,1.0
72,1.0,1,5299253,56.0,NaN,NaN,NaN,2.0
74,1.0,1,5292929,64.0,NaN,NaN,NaN,2.0
81,1.0,1,534756,40.0,NaN,2.0,5.0,1.0
87,2.0,1,528006,40.0,NaN,NaN,NaN,3.0
90,2.0,1,534197,52.0,NaN,NaN,1.0,1.0
95,1.0,1,535158,48.0,NaN,3.0,5.0,1.0
96,2.0,1,530319,84.0,NaN,1.0,2.0,1.0
106,1.0,1,528668,52.0,NaN,NaN,NaN,1.0
113,1.0,1,527933,60.0,NaN,NaN,NaN,2.0
121,1.0,1,534556,80.0,NaN,1.0,4.0,3.0
128,1.0,1,535330,84.0,NaN,3.0,NaN,3.0
129,1.0,1,527698,49.0,NaN,1.0,NaN,1.0
130,1.0,1,528964,30.0,NaN,NaN,NaN,2.0
141,2.0,1,522979,42.0,NaN,NaN,NaN,2.0
148,1.0,1,529272,132.0,NaN,2.0,4.0,1.0
149,2.0,1,535314,48.0,NaN,NaN,NaN,1.0
160,1.0,1,527916,64.0,NaN,NaN,5.0,1.0
161,1.0,1,530431,42.0,NaN,NaN,NaN,2.0
165,1.0,1,534925,120.0,NaN,3.0,NaN,3.0
169,1.0,1,535085,65.0,NaN,4.0,5.0,3.0
175,1.0,1,527929,64.0,NaN,NaN,NaN,1.0
177,1.0,1,523190,68.0,NaN,NaN,NaN,2.0
181,2.0,1,528305,48.0,NaN,2.0,NaN,1.0
190,1.0,1,528742,40.0,NaN,1.0,3.0,1.0
202,1.0,1,534073,48.0,NaN,NaN,5.0,3.0
207,1.0,1,530297,64.0,NaN,NaN,NaN,2.0
210,1.0,1,530401,68.0,NaN,2.0,5.0,2.0
216,2.0,1,528977,64.0,NaN,NaN,NaN,1.0
217,1.0,1,5279441,76.0,NaN,NaN,NaN,1.0
227,1.0,1,5289419,64.0,NaN,NaN,NaN,1.0
229,1.0,1,534597,120.0,NaN,NaN,NaN,1.0
232,1.0,1,5262543,30.0,NaN,NaN,NaN,1.0
239,1.0,1,534183,70.0,NaN,NaN,5.0,3.0
260,2.0,1,534933,40.0,NaN,2.0,NaN,1.0
262,2.0,1,5305629,88.0,NaN,NaN,NaN,1.0
263,1.0,1,528743,75.0,NaN,2.0,4.0,2.0
268,1.0,1,534403,42.0,NaN,NaN,NaN,1.0
274,1.0,1,534624,76.0,NaN,4.0,5.0,3.0
280,1.0,1,534644,48.0,NaN,NaN,NaN,1.0
283,1.0,1,527758,72.0,NaN,NaN,NaN,1.0
287,2.0,1,5305129,84.0,NaN,NaN,NaN,1.0
288,1.0,1,529428,64.0,NaN,NaN,NaN,1.0
289,1.0,1,529126,50.0,NaN,2.0,NaN,1.0
299,1.0,1,534618,40.0,NaN,NaN,1.0,3.0

In [60]:
horse.temp_of_extremities.fillna(horse.temp_of_extremities.mode()[0], inplace=True)

In [61]:
# Предложил бы заполнить модой (поскольку показатель категорийный ) в зависимости от показателя по операции (поскольку в пояснении написано, 
# что лошади с сильным растяжением живота, вероятно, потребуется операция.

horse[horse['abdominal_distension'].isna()]

,surgery,age,hospital_num,pulse,temp_of_extremities,abdominal_distension,abdomen,outcome
4,2.0,1,530255,104.0,3.0,NaN,NaN,2.0
17,2.0,1,526639,48.0,3.0,NaN,NaN,1.0
23,1.0,1,534998,130.0,3.0,NaN,NaN,1.0
25,2.0,1,529518,60.0,3.0,NaN,NaN,1.0
28,1.0,1,5279442,64.0,3.0,NaN,NaN,2.0
33,1.0,1,529663,64.0,1.0,NaN,4.0,1.0
39,1.0,1,5277409,146.0,3.0,NaN,NaN,2.0
41,2.0,1,5288249,150.0,3.0,NaN,NaN,1.0
44,1.0,1,535407,140.0,3.0,NaN,5.0,3.0
53,2.0,1,530544,40.0,3.0,NaN,NaN,1.0
56,1.0,1,528872,64.0,3.0,NaN,NaN,1.0
60,2.0,1,530438,48.0,1.0,NaN,5.0,1.0
62,1.0,1,528630,88.0,2.0,NaN,NaN,2.0
68,2.0,1,529777,52.0,1.0,NaN,NaN,1.0
69,2.0,1,530276,48.0,1.0,NaN,2.0,1.0
72,1.0,1,5299253,56.0,3.0,NaN,NaN,2.0
74,1.0,1,5292929,64.0,3.0,NaN,NaN,2.0
75,1.0,1,534092,100.0,3.0,NaN,NaN,3.0
87,2.0,1,528006,40.0,3.0,NaN,NaN,3.0
90,2.0,1,534197,52.0,3.0,NaN,1.0,1.0
100,1.0,1,535364,40.0,3.0,NaN,1.0,1.0
101,1.0,1,534899,60.0,4.0,NaN,5.0,3.0
102,2.0,1,534938,40.0,3.0,NaN,NaN,1.0
106,1.0,1,528668,52.0,3.0,NaN,NaN,1.0
113,1.0,1,527933,60.0,3.0,NaN,NaN,2.0
130,1.0,1,528964,30.0,3.0,NaN,NaN,2.0
134,1.0,1,527524,100.0,3.0,NaN,NaN,2.0
139,2.0,1,534491,60.0,1.0,NaN,NaN,1.0
141,2.0,1,522979,42.0,3.0,NaN,NaN,2.0
149,2.0,1,535314,48.0,3.0,NaN,NaN,1.0
160,1.0,1,527916,64.0,3.0,NaN,5.0,1.0
161,1.0,1,530431,42.0,3.0,NaN,NaN,2.0
175,1.0,1,527929,64.0,3.0,NaN,NaN,1.0
177,1.0,1,523190,68.0,3.0,NaN,NaN,2.0
185,1.0,1,534833,120.0,4.0,NaN,NaN,1.0
202,1.0,1,534073,48.0,3.0,NaN,5.0,3.0
207,1.0,1,530297,64.0,3.0,NaN,NaN,2.0
216,2.0,1,528977,64.0,3.0,NaN,NaN,1.0
217,1.0,1,5279441,76.0,3.0,NaN,NaN,1.0
218,1.0,1,535240,40.0,1.0,NaN,NaN,3.0
220,1.0,1,535029,88.0,4.0,NaN,NaN,3.0
227,1.0,1,5289419,64.0,3.0,NaN,NaN,1.0
229,1.0,1,534597,120.0,3.0,NaN,NaN,1.0
232,1.0,1,5262543,30.0,3.0,NaN,NaN,1.0
239,1.0,1,534183,70.0,3.0,NaN,5.0,3.0
257,1.0,1,529812,96.0,3.0,NaN,NaN,2.0
262,2.0,1,5305629,88.0,3.0,NaN,NaN,1.0
268,1.0,1,534403,42.0,3.0,NaN,NaN,1.0
280,1.0,1,534644,48.0,3.0,NaN,NaN,1.0
283,1.0,1,527758,72.0,3.0,NaN,NaN,1.0
287,2.0,1,5305129,84.0,3.0,NaN,NaN,1.0
288,1.0,1,529428,64.0,3.0,NaN,NaN,1.0
290,2.0,1,535054,45.0,2.0,NaN,1.0,1.0
293,1.0,1,534004,78.0,3.0,NaN,4.0,3.0
295,1.0,1,533886,120.0,4.0,NaN,5.0,3.0
299,1.0,1,534618,40.0,3.0,NaN,1.0,3.0

In [63]:
horse.abdominal_distension.fillna(horse.groupby('surgery').abdominal_distension.transform('median'), inplace=True)

In [66]:
# Нагуглил, что растяжение толстого и тонкого кишечника (в первом задания был сделан вывод, что именно эта проблема чаще 
# всего встречается в показателях) - это довольно серьезный недуг и может привести к смерти животного. 
# Поэтому предложил бы заполнить пропуски модой (поскольку показатель категорийный) в зависимости от значения столбца outcome 
# (итог: 1-выжил, 2-умер, 3-эфтаназия). Т.е. с группировкой по столбцу outcome.

horse[horse['abdomen'].isna()]

,surgery,age,hospital_num,pulse,temp_of_extremities,abdominal_distension,abdomen,outcome
3,1.0,1,5290409,164.0,4.0,4.0,NaN,2.0
4,2.0,1,530255,104.0,3.0,2.0,NaN,2.0
9,2.0,1,5299629,90.0,1.0,1.0,NaN,1.0
15,1.0,1,530233,96.0,3.0,3.0,NaN,2.0
17,2.0,1,526639,48.0,3.0,2.0,NaN,1.0
...,...,...,...,...,...,...,...,...
284,2.0,1,530439,54.0,1.0,1.0,NaN,1.0
286,2.0,1,5275212,82.0,3.0,3.0,NaN,3.0
287,2.0,1,5305129,84.0,3.0,2.0,NaN,1.0
288,1.0,1,529428,64.0,3.0,3.0,NaN,1.0
289,1.0,1,529126,50.0,3.0,2.0,NaN,1.0

In [68]:
horse.abdomen.fillna(horse.groupby('outcome').abdomen.transform('median'), inplace=True)

In [77]:
horse[horse['outcome'].isna()]

,surgery,age,hospital_num,pulse,temp_of_extremities,abdominal_distension,abdomen,outcome
132,1.0,1,534572,48.0,3.0,1.0,5.0,NaN

In [79]:
horse.outcome.fillna(horse.outcome.mode()[0], inplace=True)

In [82]:
horse.head()

,surgery,age,hospital_num,pulse,temp_of_extremities,abdominal_distension,abdomen,outcome
0,2.0,1,530101,66.0,3.0,4.0,5.0,2.0
1,1.0,1,534817,88.0,3.0,2.0,2.0,3.0
2,2.0,1,530334,40.0,1.0,1.0,1.0,1.0
3,1.0,1,5290409,164.0,4.0,4.0,5.0,2.0
4,2.0,1,530255,104.0,3.0,2.0,5.0,2.0