# Домашнее задание к лекции "Визуализация данных"

## Обязательная часть

Вам необходимо провести базовый EDA https://en.wikipedia.org/wiki/Exploratory_data_analysis выбранного набора данных.

### Требования к анализу:

построить не менее 4 визуализаций различных видов;
каждая визуализация должным образом оформлена и читается даже в отрыве от контекста;
по каждой визуализации необходимо написать вывод (какую гипотезу на ее основе можно выдвинуть?).

### Откуда брать данные?

Можете взять свои рабочие данные, либо найти открытые данные (например, на kaggle.com) по интересующей вас предметной области (тогда не забудьте их выложить на github вместе с ноутбуком). Если идей нет, можете взять один из перечисленных ниже:

- данные приложений из Google Play - https://www.kaggle.com/lava18/google-play-store-apps;
- данные о видео из трендов YouTube - https://www.kaggle.com/datasnaek/youtube-new;
- данные об уровне счастья в разных странах - https://www.kaggle.com/unsdsn/world-happiness;
- данные по фильмам и сериалам Netflix - https://www.kaggle.com/shivamb/netflix-shows.

## Дополнительная часть (необязательная)

построить дополнительно не менее 2 визуализаций (итого не менее 6);
в работе должны присутствовать следующие визуализации: boxplot, heatmap, scatter plot matrix;

In [3]:
import pandas as pd

In [28]:
pd.read_csv('/Users/a.gavrilik/Desktop/brisbanecbdaq2017.csv')

,Date,Time,Wind Direction (degTN),Wind Speed (m/s),Wind Sigma Theta (deg),Wind Speed Std Dev (m/s),Air Temperature (degC),Relative Humidity (%),Rainfall (mm),Barometric Pressure (hPa),PM10 (ug/m^3),Visibility-reducing Particles (Mm^-1)
0,01/01/2017,00:00,10.0,0.9,41.9,0.6,27.0,73.5,0.0,1001.0,18.3,NaN
1,01/01/2017,01:00,357.0,0.7,46.4,0.6,26.7,72.3,0.0,1001.0,13.6,14.0
2,01/01/2017,02:00,355.0,0.5,50.6,0.5,26.3,72.2,0.0,1001.0,5.6,13.0
3,01/01/2017,03:00,360.0,0.5,179.8,0.5,26.0,73.2,0.0,1001.0,5.2,13.0
4,01/01/2017,04:00,5.0,0.5,55.0,0.6,25.4,75.6,0.0,1001.0,3.1,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8755,31/12/2017,19:00,149.0,0.6,58.8,0.5,26.6,76.8,0.0,1004.0,10.1,31.0
8756,31/12/2017,20:00,160.0,0.6,58.3,0.5,26.1,79.1,0.0,1004.0,13.1,33.0
8757,31/12/2017,21:00,150.0,0.6,65.3,0.5,26.1,80.0,0.0,1005.0,14.1,34.0
8758,31/12/2017,22:00,121.0,0.5,54.8,0.4,26.0,81.4,0.0,1005.0,14.8,39.0
8759,31/12/2017,23:00,116.0,0.4,66.5,0.4,25.8,82.9,0.0,1004.0,16.9,37.0

In [30]:
pd.read_csv('/Users/a.gavrilik/Desktop/Measurement_summary.csv')

,Measurement date,Station code,Address,Latitude,Longitude,SO2,NO2,O3,CO,PM10,PM2.5
0,2017-01-01 00:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005007,0.004,0.059,0.002,1.2,73.0,57.0
1,2017-01-01 01:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005007,0.004,0.058,0.002,1.2,71.0,59.0
2,2017-01-01 02:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005007,0.004,0.056,0.002,1.2,70.0,59.0
3,2017-01-01 03:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005007,0.004,0.056,0.002,1.2,70.0,58.0
4,2017-01-01 04:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005007,0.003,0.051,0.002,1.2,69.0,61.0
...,...,...,...,...,...,...,...,...,...,...,...
647506,2019-12-31 19:00,125,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792,0.003,0.028,0.013,0.5,23.0,17.0
647507,2019-12-31 20:00,125,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792,0.003,0.025,0.015,0.4,25.0,19.0
647508,2019-12-31 21:00,125,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792,0.003,0.023,0.015,0.4,24.0,17.0
647509,2019-12-31 22:00,125,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792,0.003,0.040,0.004,0.5,25.0,18.0
647510,2019-12-31 23:00,125,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792,0.003,0.037,0.005,0.5,27.0,18.0