# Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера.

Определите какому фильму было выставлено больше всего оценок 5.0.

In [ ]:
import pandas as pd

In [85]:
path = '/Users/a.gavrilik/Desktop/Data Analytics/PYDA-14_DZ/12-biblioteka_pandas/ml-latest-small/'

# Объединенная таблица rating_5, которая включает ratings.csv + movies.csv
rating_5 = pd.read_csv(path + 'ratings.csv').merge(pd.read_csv(path + 'movies.csv'), on = 'movieId')

# Достаем из rating_5 столбцы с названием фильма и рейтингом. Перезаписываем rating_5
rating_5 = rating_5[['title', 'rating']]

# Достаем из rating_5 строки, где в столбце rating стоит 5.0. Перезаписываем rating_5
rating_5 = rating_5[rating_5.rating == 5.0]

# Считаем сколько раз каждый фильм (столбец title) встретился в rating_5. Выводим первую строку.
rating_5['title'].value_counts().head(1)

Shawshank Redemption, The (1994)    153
Name: title, dtype: int64

# Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. 

Не учитывайте в расчетах отрицательные значения quantity.

In [132]:
path = '/Users/a.gavrilik/Desktop/Data Analytics/PYDA-14_DZ/12-biblioteka_pandas/10._Основы_pandas/'

pribalt = pd.read_csv(path + 'power.csv')

# Доставем из pribalt строки, где country == Estonia|Lithuania|Latvia. Перезаписываем pribalt
pribalt = pribalt[(pribalt.country == 'Estonia') | (pribalt.country == 'Lithuania') | (pribalt.country == 'Latvia')]

# Доставем из pribalt строки, где category == 4|12|21. Перезаписываем pribalt
pribalt = pribalt[(pribalt.category == 4) | (pribalt.category == 12) | (pribalt.category == 21)]

# Доставем из pribalt строки, где 2005 <= year <= 2010. Перезаписываем pribalt
pribalt = pribalt[(pribalt.year >= 2005) & (pribalt.year <= 2010)]

# Считаем суммарное потребление стран Прибалтики по столбцу quantity
pribalt.quantity.sum()

240481.0

# Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

Примеры страниц (необязательно брать именно эти):

https://fortrader.org/quotes

https://www.finanz.ru/valyuty/v-realnom-vremeni

In [178]:
page_url = 'https://www.finanz.ru/valyuty/usd-rub'

table = pd.read_html(page_url, attrs = {'class': 'news_table'}, encoding='utf-8')

df = pd.DataFrame(table[1])

df

       Имя  Unnamed: 1     %     курс                 Дата
0  EUR/RUB         NaN  2729    91506  15.10.2020 16:38:00
1  USD/RUB         NaN  7089    78232  15.10.2020 16:38:00
2  CHF/RUB         NaN   577   855463  15.10.2020 16:39:00
3  JPY/RUB         NaN  5551     7431  15.10.2020 16:39:00
4  GBP/RUB         NaN  -215  1011037  15.10.2020 16:39:00
5  NOK/RUB         NaN -7904    83404  15.10.2020 16:38:00
6  AUD/RUB         NaN -6865   552919  15.10.2020 16:38:00
7  NZD/RUB         NaN -4745   515057  15.10.2020 16:38:00
8  TRY/RUB         NaN  2609    98468  15.10.2020 16:38:00